<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true" throwExceptions="true" internalLogFile="Nlog.txt" internalLogLevel="Trace"  internalLogToConsole="false"
	  >
  <!--<targets /> - 定义日志的目标/输出-->
  <variable name="logDirectory" value="${basedir}/Logs/${date:format=yyyyMMdd}"/>
  <variable name="hours" value="${date:format=HH}"/>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper"  batchSize="1000" overflowAction="Discard" queueLimit="2000" timeToSleepBetweenBatches="1000">
    </default-wrapper>
    <target name="ErrorTarget" xsi:type="File" fileName="${logDirectory}/Error_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>

    <target name="FatalTarget" xsi:type="File" fileName="${logDirectory}/Fatal_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
    
    <target name="InfoTarget" xsi:type="File" fileName="${logDirectory}/Info_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message}"/>

    <target name="WarnTarget" xsi:type="File" fileName="${logDirectory}/Warn_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message}"/>

    <target name="DebugTarget" xsi:type="File" fileName="${logDirectory}/Debug_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message}"/>

    <target name="TraceTarget" xsi:type="File" fileName="${logDirectory}/Trace_${hours}.txt"
            layout="[${date:format=HH\:mm\:ss}] ${message}"/>

    <target name="ConsoleTarget" xsi:type="ColoredConsole"
           layout="${date:format=HH\:mm\:ss} ${level} ${message}"/>
  </targets>
  <!--<rules /> - 定义日志的路由规则-->
  <rules>
    <logger name="*" levels="Error" writeTo="ErrorTarget"></logger>
    <logger name="*" levels="Fatal" writeTo="FatalTarget"></logger>
    <logger name="*" level ="Info" writeTo="InfoTarget"></logger>
    <logger name="*" level ="Warn" writeTo="WarnTarget"></logger>
    <logger name="*" levels="Debug" writeTo="DebugTarget"></logger>
    <logger name="*" levels="Trace" writeTo="TraceTarget"></logger>
    <logger name="*" levels="Info,Warn,Debug,Error" writeTo="ConsoleTarget"></logger>
  </rules>
  <!--<extensions /> - 从*.dll加载NLog扩展-->
  <!--<include /> - 导入外部配置文件-->
  <!--<variable /> - 为配置变量赋值-->
</nlog>